*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;    
}


.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 80px;
    background-color: white;
}

main{
    flex-grow: 1;
    overflow: auto;
    background-color: black;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: relative;
}

.box-text{
    font-weight: bolder;
    color: white;
    padding: 5px;
    padding-right: 1px;
    background-color:rgba(0, 0, 0, 0.5);
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
}

img{
    object-fit: cover;
}

footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}



